
.tab-container {
    display: flex;
    flex-direction: column;
}

.tab-container-ctrl {
    display: flex;
    flex: 1 0 auto;
}

.tab-container-actions {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}