
.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.column {
    flex-direction: column;
}

.relative {
    position: relative;
}

.grow-1 {
    flex-grow: 1;
}

.flex-1-0-auto {
    flex: 1 0 auto;
}

.flex-0-1-auto {
    flex: 0 1 auto;
}
